.navbar.common-header
  .container
    %ul.nav.navbar-nav
      %li.sic
        %a{href: "#sic"} Red SIC:
      %li.scielo.collapse
        %a{href: "#scielo"} SciELO
      %li.beic.collapse
        %a{href: "#beic"} Beic
      %li.repo.collapse
        %a{href: "#repo"} Repo. Institucional
      %li.productividad.collapse
        %a{href: "#productividad"} Productividad Científica
      %li.investigador.collapse
        %a{href: "#portal"} Portal del Investigador
      %li.redciencia.collapse
        %a{href: "#redciencia"} Red Ciencia
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Red Sic
          &nbsp;
          %i.fa.fa-caret-down
        %ul.dropdown-menu
          %li
            %a{href: "#about"}= image_tag "beic.png"
          %li
            %a{href: "#about"}= image_tag "scielo.png"
          %li
            %a{href: "#about"}= image_tag "repo.png"
          %li
            %a{href: "#about"}= image_tag "productividad.png"
          %li
            %a{href: "#about"}= image_tag "investigador.png"
          %li
            %a{href: "#about"}= image_tag "redciencia.png"
#top{"data-spy"=>"affix", "data-offset-top"=>"34"}
  .container
    .row
      .col-xs-7
        %ul.nav.nav-pills.sitenav
          %li.home
            %a
          %li.active
            %a{href: "#"}
              %i.fa.fa-home
          %li
            %a{href: "#about"} Personas
          %li
            %a{href: "#contact"} Métricas
          %li
            %a{href: "#contact"} Biblioteca
      .col-xs-2
        %ul.nav.nav-pills.lang
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              Español
              %b.caret
            %ul.dropdown-menu.pull-right
              %li
                %a{href: "#"} English
              %li
                %a{href: "#"} Português
      .col-xs-3
        .site-search
          %form
            %i.fa.fa-search
            %input#search_header.form-control{type: "text", placeholder: "Buscar revistas, artículos..."}
            #search_advanced{style: "display:none"}
              = image_tag "sic-single.png", width: "50", class: "right"
              %a{href:"http://www.informacioncientifica.cl"} Búsqueda avanzada