.jumbotron
  .container
    %h1
      Información científica a tu alcance.
    %p El Sistema de Información Científica (SIC) integra los distintos servicios y contenidos del Programa de Información Científica de CONICYT.
    = partial "search_big"
.container
  %ul.nav.nav-pills
    %li
      %a{href: "#about"}= image_tag "beic.png"
    %li
      %a{href: "#about"}= image_tag "scielo.png"
    %li
      %a{href: "#about"}= image_tag "repo.png"
    %li
      %a{href: "#about"}= image_tag "productividad.png"
    %li
      %a{href: "#about"}= image_tag "investigador.png"
    %li
      %a{href: "#about"}= image_tag "redciencia.png"
.container
  .row
    .col-md-4
      %h3 Nuestros Sitios
      .panel.panel-default.oursites
        .panel-body
          %p
            %strong
              %a{href:"#"}Beic
            %br
            Biblioteca electrónica de Información Científica. Colecciones de revistas científicas seleccionadas.
          %p
            %strong
              %a{href:"#"}SciELO
            %br
            El repositorio de información científica más amplio de América Latina.
          %p
            %strong
              %a{href:"#"}Repositorio Institucional
            %br
            Resultados de proyectos financiados por Conicyt.
          %p
            %strong
              %a{href:"#"}Portal de Productividad Científica
            %br
            Toda la información sobre la producción científica en Chile.
          %p
            %strong
              %a{href:"#"}Portal del Investigador
            %br
            El repositorio de información científica más amplio de América Latina.
          %p
            %strong
              %a{href:"#"}RedCiencia
            %br
            El repositorio de información científica más amplio de América Latina.
    .col-md-6
      %h3 Noticias
      .post
        %h4
          %a{href:"#"}Indicadores Cienciométricos 2013
        %p
          Se han publicado los nuevos resultados de este informe.
      .post
        %h4
          %a{href:"#"}La Nueva era de SciELO
        %p
          Entrevista con Abel Packer, coordinador operacional de esta plataforma.
      .post
        %h4
          %a{href:"#"}Premio Scopus Chile 2013
        %p
          Un reconocimiento a la calidad de la producción científica en el país.
      .post
        %h4
          %a{href:"#"}La Nueva era de SciELO
        %p
          Entrevista con Abel Packer, coordinador operacional de esta plataforma.
      %p
        %a.btn.btn-info{:href => "#", :role =>"button"} Ver todas las noticias »
    .col-md-2
      %h3 Informes
      %p
        %a.btn.btn-success{href: "#", role: "button"} Descarga el informe 2013
      %p
        %a.btn.btn-info{href: "#", role: "button"} Descarga el informe 2012
      %p
        %a.btn.btn-danger{href: "#", role: "button"} Descarga el informe 2011
      %h3 Herramientas
      %p
        %a.btn.btn-success{href: "#", role: "button"} Edición Científica